@import 'reset';
@import 'variables';
@import 'color';
@import 'grid';
@import 'global';
@import 'navigation';

// App Specific

body {
    background-color:$white;
    color:$black;
    font-size:100%;
}